$color: #f00;

.single-item .bought {
	color: $color;
}

.single-item.bought td {
	text-decoration: line-through;
}

.single-item.bought td.no-decor {
	text-decoration: none;
}

tr.single-item {
	& td button.again {
		display: none;
	}

	& td .mar-rig-10 {
		margin-right: 10px;
	}

	&.bought td button.buy {
		display: none;
	}
	&.bought td button.again {
		display: block;
		text-decoration: none;
	}
}