.table {
	width: 50%;
	margin: auto;

	& th {
		border-bottom: 2px solid #103D5D;
	}

	& tr.single-item td {
		border-bottom: 1px solid rgba(127, 127, 127, 0.2);
    padding: 15px;
	}

	& td.missing-data {
		text-align: center;
		line-height: 40px;
	}
	& input.field {
		width: 100%;
    border: 0;
    border-bottom: 2px solid gray;
		padding: 5px;
		font-size: 17px;
	}

	& select.field {
		font-size: 17px;
		border: 2px solid lightgray;
		padding: 5px;
		background: transparent;
		-webkit-appearance: none;
	}
}

button.btn.again {
	background: rgba(255, 160, 122, 0.6);
	color: darkred;
}

.icon {
	color: orangered;
}