@import url('https://fonts.googleapis.com/css?family=Handlee|Patrick+Hand+SC&display=swap');

body {
  font-family: 'Patrick Hand SC', cursive;
  background-color: #fff;
}

.pad-right-15 {
  padding-right: 15px;
}

.app {
  padding-bottom: 50px;
}

.fa {
  font-size: 22px;
  transform: translateY(50deg);  
}

header i {
  vertical-align: middle;
  margin-left: 12px;
}

.container {
  display: flex;
  margin: 0 auto;
  padding-top: 25px;
  margin-top: 50px;
}

.wrapper {
  max-width: 1100px;
  margin: 0 auto;

  & h1 {
    margin-left: 30px;
    font-family: 'Handlee';
    font-size: 2rem;
  }
}

.add-item {
  border-radius: 2px;
  border-top: 3px solid #103D5D;
  margin-right: 50px;
  background-color: rgb(237, 237, 237);
  padding: 60px 18px;
  box-shadow: 0 3px 4px 0 rgba(0,0,0,.14), 0 3px 3px -2px rgba(0,0,0,.12), 0 1px 8px 0 rgba(0,0,0,.2);
  margin-bottom: 34px;  
  width: 25%;
  margin-right: auto;
}

.display-item {
  width: 95%;
  margin: auto;
}

.add-item form {
  width: 100%;
  overflow: hidden;
}

h2 {
  padding: 0;
  margin: 0;
  font-weight: 400;
}

li h3 {
  background-color: #103D5D;
  margin: 0;
  color: #fff;
  font-weight: 300;
  padding: 15px;
}

li p {
  padding: 15px;
}

form button {
  width: 100%;
  margin-top: 20px;
}

button.btn {
  border-radius: 5px;
  min-width: 88px;
  cursor: pointer;
  border: 1px solid lightslategray;
  min-width: 120px;
  padding: 10px 6px;
  font-size: 1.1rem;

  & svg {
    font-size: 1.2rem;
  }
}

button.btn.cancel-btn {
	background: rgba(255, 160, 122, 0.6);
	color: darkred;
}

.add-new-icon {
	position: fixed;
	bottom: 0;
	right: 0;
	color: white;
	background: #103D5D;
	width: 70px;
	height: 70px;
	border-top-left-radius: 50%;
	box-shadow: -2px -2px 4px grey;
	cursor: pointer;

	&.hidden {
		display: none;
	}
}

.add-icon {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-45%, -45%);
	font-size: 40px;
}